html{
    background-color: #f8f6f4;
    color: #f11819;
    border: 10px ridge #5c1225;
    text-align: center;
}
.card{
    border: 10px ridge #5c1225;
    width: 4in;
    height: 5in;
    overflow: hidden;
    margin: 10px 10px;
}
.card:hover {
    border: 10px ridge #5c1225;
    width: 4in;
    height: unset;
    margin: 10px 10px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.special{
    color: #f8b72f;
    text-decoration: none;
}
a{
    color: #f8b72f;
    text-decoration: none;
}
.broken{
    color: red;
    text-decoration: line-through;
}
.maincard{
    border: 10px ridge #5c1225;
    width: 10in;
    overflow: hidden;
    margin: 10px auto;
}
.mainlist{
    font-size: 20px;
}
img{
    width: 2in;
}