<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="cards">
      {% for comic in data %}
      <div class="card">
        <h2>{{comic.title}}</h2>
        <h3>Description</h3>
        <p>{{comic.description}}</p>
        <h3>Webpage</h3>
        <a href="{{comic.urls.0.url}}">Webpage</a>
        <h3>In Series</h3>
        <p>{{comic.series.name}}</p>
        <h3>Release Date</h3>
        <p>{{comic.dates.0.date}}</p>
        <h3>Creators</h3>
        <ul>
          {% for creator in comic.creators["items"] %}
          <li>{{creator.name}}, {{creator.role}}</li>
          {% endfor %}
        </ul>
        <h3>Characters Featured</h3>
        <ul>
          {% for character in comic.characters["items"] %}
          <li>{{character.name}}</li>
          {% endfor %}
        </ul>
        <h3>Contains Stories</h3>
        <ul>
          {% for event in comic.stories["items"] %}
          <li>{{event.name}}</li>
          {% endfor %}
        </ul>
        <h3>Part of Events</h3>
        <ul>
          {% for event in comic.events["items"] %}
          <li>{{event.name}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </body>
</html>