<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body> 
    <h1>Creator</h1>
    <div class="maincard">
        <h2>{{character.fullName}}</h2>
        <img href="{{character.thumbnail.path}}" alt="{{character.fullName}}">
        <h3>Contributions</h3>
        <h4>Comics</h4>
        
          {% for x in character.comics['items'] %}
          <li>{{x['name']}}</li>
          {% endfor %}
        
        <h4>Series</h4>
        
          {% for x in character.series['items'] %}
          <li>{{x['name']}}</li>
          {% endfor %}
        
        <h4>Stories</h4>
        
          {% for x in character.stories['items'] %}
          <li>{{x['name']}}</p><p>Story type- {{x["type"]}}.</li>
          {% endfor %}
        
        <h4>Events</h4>
        
          {% for x in character.events['items'] %}
          <li>{{x['name']}}</li>
          {% endfor %}
        
        <h3>Links</h3>
        
          {% for x in character.urls %}
          <li>{{x['type']}}: <a href={{x.url}}>Link</a></li>
          {% endfor %}
        
      </div>
  </body>
</html>