<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body> 
    <h1>Event</h1>
    <div class="maincard">
        <h2>{{character.title}}</h2>
        <img href="{{character.thumbnail.path}}" alt="{{character.title}}">
        <p>{{character.description}}</p>
        <h4>links</h4>
        
            {% for x in character.urls %}
            <li>{{x['type']}}: <a href={{x.url}}>Link</a></li>
            {% endfor %}
        
        <h4>Duration</h4>
        <p>{{character.start}}-{{character.end}}</p>
        <h4>Creators</h4>
        
          {% for x in character.creators['items'] %}
          <li>{{x['name']}}, {{x["role"]}}</li>
          {% endfor %}
        
        <h4>Characters</h4>
        
          {% for x in character.characters['items'] %}
          <li>{{x['name']}}</li>
          {% endfor %}
        
        <h4>Stories</h4>
        
          {% for x in character.stories['items'] %}
          <li>{{x['name']}}</p><p>Story type- {{x["type"]}}.</li>
          {% endfor %}
        
        <h4>Comics</h4>
        
          {% for x in character.comics['items'] %}
          <li>{{x['name']}}</li>
          {% endfor %}
        
        <h4>Series</h4>
        
          {% for x in character.series['items'] %}
          <li>{{x['name']}}</li>
          {% endfor %}
        
      </div>
  </body>
</html>