<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <h1>Welcome to the Marvel API</h1>
    <h2>Filter entries by these criteria</h2>
    <li class="mainlist"><a href="characters">Characters</a></li>
    <li class="mainlist"><a href="comics">Comics</a></li>
    <li class="mainlist"><a href="creators">Creators</a></li>
    <li class="mainlist"><a href="events">Events</a></li>
    <li class="mainlist"><a href="serieses">Series</a></li>
    <li class="mainlist"><a href="character">Search for a Character</a></li>
    <li class="mainlist"><a href="comic">Search for a Comic</a></li>
    <li class="mainlist"><a href="creator">Search for a Creator</a></li>
    <li class="mainlist"><a href="event">Search for an Event</a></li>
    <li class="mainlist"><a href="series">Search for a Series</a></li>
  </body>
</html>